@charset "utf-8";

body{
	
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }
  
#mainNav {
  background-color: rgba(39, 50, 54, 1.0);
}

.footer {
  background-color: rgba(39, 50, 54, 1.0);
}